<H1>REGISTER</H1>
<form action="/auth/register" method="POST">
    <input type="text" name="firstName" placeholder="firstName">
    <input type="text" name="lastName" placeholder="lastName">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="pass">
    <input type="submit" value="register">

</form>
<a href="/auth/login">ya tengo cuenta</a>