<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form action="/auth/register" method="POST">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">First Name</span>
              </div>
              <input
                type="text"
                class="form-control"
                name="firstName"
                placeholder="First Name"
                required
              />
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Last Name</span>
              </div>
              <input
                type="text"
                class="form-control"
                name="lastName"
                placeholder="Last Name"
                required
              />
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
              </div>
              <input
                type="text"
                class="form-control"
                name="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
              </div>
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Password"
                required
              />
            </div>
            <input
              class="btn btn-sm btn-outline-info"
              type="submit"
              value="Registrarse"
            />
            <a href="/auth/login">Already have an account</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>