:root {
  --primary-color: #3498db;
  --secondary-color: #e74c3c;
  --background-color: #f2f2f2;
  --text-color: #333;
  --button-background: #27ae60;
  --button-border: #27ae60;
  --button-text: #fff;
  --error-color: #c0392b;
}

.login {
  text-align: center;
  padding-top: 10vh;
  background-color: var(--background-color);
}

.inputForms {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}

.form-control:focus {
  background-color: #fff;
  border-color: var(--secondary-color);
  box-shadow: none;
}

.input-group-text-style {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 0;
  color: var(--text-color);
}

.register {
  text-align: center;
  padding-top: 10vh;
  background-color: var(--background-color);
}

.backgroundTable {
  background-color: var(--background-color);
}

.filterText {
  color: var(--secondary-color);
}

.card-body-style {
  background-color: #fff;
}

.productTable {
  text-align: center;
  padding-top: 2.5vh;
  background-color: var(--background-color);
}

.dinamic-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

th {
  color: var(--secondary-color);
}

.container {
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.card-body p {
  margin: 5px 0;
}

.row {
  margin-top: 20px;
}

.col-4,
.col-3 {
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
}

.col-4 p,
.col-3 p {
  margin: 5px 0;
}

.col-4 p:last-child,
.col-3 p:last-child {
  margin-bottom: 0;
}

.col-3 p {
  color: var(--error-color);
}

.col-4 p.card-title {
  font-size: 16px;
  font-weight: bold;
}

.col-4 p:last-child {
  font-weight: bold;
}

.col-4 p b {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--text-color);
  margin-right: 10px;
}

.half-width-table-container {
  width: 50%;
  margin: 0 auto;
}

.table {
  width: 100%;
}
