/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.main-cont {
    display: flex;
}

/* Contenedor general */
.contenedor {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

/* Lista sin viñetas */
li {
    list-style: none;
}

/* Estilos para los productos */
.list-product h2 {
    font-size: 30px;
    font-weight: 900;
}

.list-product ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.list-product ul li {
    width: 20%;
    height: 200px;
    padding: 10px;
}

img.img-card {
    width: 100%;
    height: auto;
}

.card {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h3.title-card {
    font-size: 22px;
}

p.description-card {
    font-size: 15px;
}

/* FORMULARIO */
form {
    width: 500px;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

label {
    width: 50%;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button#button {
    width: 100%;
    padding: 20px;
}

/* Estilos para el chat */
.msgs {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    overflow: scroll;
}

#btn-enviar {
    background-color: #f39c12;
    color: white;
    margin: 0px;
    cursor: pointer;
}

p.txt-msg {
    margin-top: 20px;
}

input#msg {
    margin-bottom: 0px;
    border: 1px solid #f39c12;
}

div#div-msgs {
    overflow: scroll;
}

p.user {
    font-size: 13px;
    font-family: monospace;
    color: #fefefe;
}

p.email {
    font-size: 12px;
    color: #f7f7f7;
    font-family: monospace;
}

h3.mensaje {
    font-family: monospace;
    color: #f39c12;
}

.my-msg.msgChat {
    display: flex;
    justify-content: flex-end;
    width: 97%;
    margin: 5px;
}

.otros-msg.msgChat {
    display: flex;
    justify-content: flex-start;
    width: 97%;
    margin: 5px;
}

.my-msg.msgChat div,
.otros-msg.msgChat div {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(243, 156, 18, 0.5);
}

.my-msg.msgChat div {
    background-color: #f39c12;
}

.otros-msg.msgChat div {
    background-color: #e74c3c;
}

/* Estilos para la paginación y el carrito */
ul {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li.card {
    width: 202px;
    height: auto;
    box-shadow: 2px 10px 20px 3px rgba(230, 126, 34, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.pagination {
    display: block;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    color: #212020;
    font-family: monospace;
}

.pagination a {
    color: #f39c12;
    text-decoration: none;
}

.addToCart {
    cursor: pointer;
    background: #f39c12;
    color: white;
}

.addToCart:hover {
    background: #e67e22;
}

/* Estilos para el menú flotante */
.floating_menu {
    width: 90px;
    height: 90px;
    background-color: #2ecc71;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.menu {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #27ae60;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: -12px 12px 35px #27ae604f;
}

.menu ion-icon {
    font-size: 45px;
    color: #fff;
    transition: .5s;
}

.floating_menu.active .menu ion-icon {
    transform: rotate(180deg);
}

.floating_menu .sub_menu .inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 20;
    display: none;
    box-shadow: -7px 9px 23px #33333330;
}

.floating_menu.active .sub_menu .inside {
    left: 133px;
    top: 8px;
    display: block;
}

/* Estilos para los filtros y carrito */
.d-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.checks {
    display: flex;
    align-items: baseline;
}

.title-filter {
    text-align: center;
}

.list-products {
    display: block;
}

li.card-cart {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 20px;
    margin: 15px 10px;
    border-radius: 10px;
    box-shadow: 2px 10px 20px 3px rgba(230, 126, 34, 0.5);
}

.deletToCart {
    cursor: pointer;
    font-family: monospace;
    background: #c0392b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

input#price {
    width: 179px;
    height: 32px;
    margin: 0px;
}

.checks a {
    text-decoration: none;
    background: #f39c12;
    color: white;
    padding: 7px;
    margin-left: 2px;
    border-radius: 10px;
}

label.price {
    width: 26%;
    margin: 0px;
}

/* Estilos para el botón de perfil y logout */
.btnPerfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #27ae60;
    color: white;
    font-size: 25px;
    text-align: center;
}

.btnPerfil a {
    text-align: center;
    font-family: monospace;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a.logout {
    color: #c0392b;
    font-size: 13px;
    text-decoration: underline;
}

/* Estilos para el formulario de inicio de sesión */
.user_card {
    height: auto;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #2ecc71;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    padding-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(46, 204, 113, 0.2), 0 6px 20px 0 rgba(46, 204, 113, 0.19);
    border-radius: 5px;
}

.container.h-100 {
    margin-top: 82px;
    margin-bottom: 80px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #3498db;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.login_btn {
    width: 100%;
    background: #e74c3c !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0;
}

.input-group-text {
    background: #e74c3c !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #e74c3c !important;
}

h4.log {
    font-size: 18px;
}

a.log-git {
    color: black;
    font-size: 30px;
    text-decoration: none;
    background: #3498db;
    border-radius: 115%;
    padding-left: 6px;
    padding-right: 5px;
}

a.log-git:hover {
    color: white;
    background: #2980b9;
}

.hogar {
    display: block;
    text-align: center;
}

span#carritoCantidad {
    font-size: 16px;
    background-color: #e74c3c;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
    margin-left: -15px;
}

